@import '@fontsource/montserrat/400.css';
@import '@fontsource/montserrat/500.css';
@import '@fontsource/montserrat/600.css';
@import '@fontsource/montserrat/700.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;

    color: rgba(255, 255, 255, 0.87);
    @apply bg-slate-900;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html,
body,
#root {
    @apply h-full;
}

h1 {
    @apply text-6xl text-white;
}
h2 {
    @apply text-2xl text-white;
}
h3 {
    @apply text-lg font-bold text-white;
}
small {
    @apply text-xs text-white;
}

.button {
    @apply rounded-lg px-3 py-2 text-slate-400 text-sm bg-slate-800 cursor-pointer hover:bg-slate-700;
}

.link {
    @apply text-slate-400 text-sm cursor-pointer hover:text-primary;
}

.react-flow__node.selected {
    @apply border-0 ring-2 ring-primary !important;
}

.react-flow__node-default {
    @apply bg-slate-400 border-0 ring-slate-900 text-slate-900 !important;
}

.react-flow__node.parent {
    @apply bg-slate-600 opacity-80 !important;
}
